body {
  padding-top: 60px;
  padding-bottom: 0;
}
footer{
        position:fixed;
        bottom: 0;
        width: 100%;
        height: 40px;/*脚部的高度*/
        background:#222;
        clear:both;
    }