
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">节点列表</div>
  <div class="panel-body">
  </div>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default" ng-repeat="item in items">
     <div class="panel-heading">
         <h4>
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{item.Node}}" aria-expanded="true" aria-controls="{{item.Node}}" ng-click="getHealthNode(item.Node)">
            {{item.Node}}
            </a>
         </h4>
      </div>
    
    <div id="{{item.Node}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#services" aria-controls="services" role="tab" data-toggle="tab">Services</a></li>
                <li role="presentation"><a href="#checks" aria-controls="checks" role="tab" data-toggle="tab">Checks</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="services" >
                     <div class="alert alert-success" role="alert" ng-repeat="services in item.Services">
                         {{services.Service}} <br>
                        <p class="text-warning">{{services.Tags}}</p>
                         
                     </div>
                </div>
                
                <div role="tabpanel" class="tab-pane" id="checks">
                     <div class="alert alert-warning" role="alert" ng-repeat="checks in item.Checks">
                          <div class="panel-body">
                            <div class="col-md-8">
                                <label for="exampleInputName2"><label class="text-warning"><h3>{{checks.Name}}</h3></label></label>
                                <small>{{checks.CheckID}}</small>
                            </div>
                            <div class="col-md-8"><label for="exampleInputName2">Notes : </label><p class="text-warning">{{checks.Notes}}</p></div>
                            <div class="col-md-8"><label for="exampleInputName2">Output : </label><p class="text-warning">{{checks.Output}}</p></div>
                     </div>
                   </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


