


<button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#myModal">服务注册</button>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" >
         <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">服务注册</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="exampleInputPassword1">Name</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Name" ng-model="model.Name">
          </div>
          
          <div class="form-group">
              <label for="exampleInputPassword1">Port</label>
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Port" ng-model="model.Port">
          </div>   

            <div class="form-group">
              <label for="exampleInputEmail1">Address</label>
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Address" ng-model="model.Address">
            </div>
            
            <div class="form-group">
              <label for="exampleInputEmail1">Tags</label>
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Tags" ng-model="model.Tags">
            </div>
            
            <div class="form-group">
              <label for="exampleInputPassword1">Check</label>
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Check" ng-model="model.Check">
            </div>
            
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="button" class="btn btn-primary" ng-click="SubmitFrom(model)">注册</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- From end-->