


<div class="toolbar row" style="padding:10px 15px">
  <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#myModal">服务注册</button>
</div>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
   服务列表
  </div>
  <div class="panel-body">
    <div class="panel-group " id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default"  ng-repeat="item in items">
      <div  class="panel-heading" >
        <h4>
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{item.Name}}" aria-expanded="true" aria-controls="{{item.Name}}" ng-click="getHealthService(item.Name)">
            {{item.Name}}
            </a>
            <span ng-class="item.ChecksCritical>0? 'label pull-right label-warning':'label pull-right label-success'"  ng-bind="item.ChecksCritical>0? item.ChecksCritical +' failing':item.ChecksPassing+' passing'"></span>
        </h4>
        </div>
      
      <div id="{{item.Name}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <div class="panel-group">
              <div class="panel panel-default" ng-repeat="server in healthService">
                <div class="panel-heading">
                  <h4>
                  {{server.Service.ID}}
                  <span ng-class="server.ChecksCritical>0? 'label pull-right label-warning':'label pull-right label-success'"  ng-bind="server.ChecksCritical>0? server.ChecksCritical +' failing':server.ChecksPassing+' passing'"></span>
                  <h4>
                </div>
                <div class="panel-body">
                  <div class="col-md-4"><label for="exampleInputName2">Node : </label><span>{{server.Node.Node}}</span></div>
                  <div class="col-md-4"><label for="exampleInputName2">Address : </label><span>{{server.Node.Address}}</span></div>
                  <div class="col-md-4"><label for="exampleInputName2">Tags : </label><span ng-repeat="tag in server.Service.Tags">{{tag}}<span ng-if="$index<(server.Service.Tags.length-1)"> , </span></span></div>
                  <div class="col-md-4"><label for="exampleInputName2">Address : </label><span>{{server.Service.Address}}</span></div>
                  <div class="col-md-4"><label for="exampleInputName2">Port : </label><span>{{server.Service.Port}}</span></div>
                </div>
                <div class="container">
                <label  ng-if="server.Checks.length>0" style="margin-left:15px" >Checks:</label>
                <ul ng-if="server.Checks.length>0" >
                  <li ng-repeat="check in server.Checks">
                    <div class="row">
                      <div class="col-md-4"><label for="exampleInputName2">Name : </label><span>{{check.Name}}</span></div>
                      <div class="col-md-4"><label for="exampleInputName2">CheckID : </label><span>{{check.CheckID}}</span></div>
                      <div class="col-md-4"><label for="exampleInputName2">Status : </label><span>{{check.Status}}</span></div>
                    </div>
                  </li>
                </ul>
                </div>
                <div class="panel-footer">
                  <div class="row" style="padding-right:20px">
                    <button type="button" class="btn btn-primary pull-right"  ng-click="delService(server.Node.Node,server.Service.ID)">注销服务</button>
                  </div>
                  
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  
</div>

<!--Form-->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" >
         <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">服务注册</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label >ID</label>
            <input type="text" class="form-control"  placeholder="ID" ng-model="model.ID">
          </div>
          
          <div class="form-group">
            <label >Name</label>
            <input type="text" class="form-control"  placeholder="Name" ng-model="model.Name">
          </div>
            <div class="form-group">
              <label >Address</label>
              <input type="text" class="form-control"  placeholder="Address" ng-model="model.Address">
            </div>
            
             <div class="form-group">
              <label >Port</label>
              <input type="number" class="form-control"  placeholder="Port" ng-model="model.Port">
             </div> 
          
            <div class="form-group">
              <label >Tags</label>
              <input type="text" class="form-control"  placeholder="Tags" ng-model="model.Tags">
            </div>
            
            
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="button" class="btn btn-primary" ng-click="SubmitFrom(model)">注册</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- From end-->
